#fork-lativ-web-vue {
  /* width: 1180px; */
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
  color: #706e6c;
  font-size: 12px;
}

.wrapper {
  padding-top: 105px;
}

a {
  color: #706e6c;
}

a:hover {
  color: #83521e;  
  // background-color: #F0EDE5;
}

@media screen and (min-width: 768px) {
  .wrapper {
      padding-top: 0;
    }
}