#fork-lativ-web-vue {  
  max-width: 1180px;
  margin: 0 auto;  
  color: #706e6c;
  font-size: 12px;
}

.wrapper {
  padding-top: 105px;
}

a {
  color: #706e6c;
}

a:hover {
  color: #83521e;
}

@media screen and (min-width: 768px) {
  .wrapper {
      padding-top: 10px;
    }
}